/index.html
/src
/e2e
/public
/scripts
/coverage
/test-results/
/playwright*
/.vscode
/dist/demo/*
/dist/**/*.test.d.ts
/dist/**/*.test.js
/dist/**/*.test.js.map
/vite.config.ts
/jest.config.ts
/reference.md
/tsconfig.json
/typedoc.json
/playwright.config.ts
/reference.md
