.container {
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.numbers {
  display: grid;
  gap: 0.5em;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  margin-bottom: 2em;
  text-align: center;
}

.alert {
  color: red;
}

.number {
  border-radius: 0.33em;
  border: 0.1rem solid #fff;
  font-family: Poppins;
  font-size: 2.5rem;
  padding: 0.5em 0.25em;
}
