.form {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formTitle {
  margin: 0.8rem 0 0;
  font-family: monospace;
  font-size: 1.2rem;
  color: #403866;
  text-transform: uppercase;
  text-align: center;
}
.input {
  height: 25px;
  margin: 0.5rem 0 0;
  padding: 0.5rem 2rem;
  width: 100%;
  background: #fff;
  border-radius: 30px;
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
  color: #403866;
  border: none;
  box-shadow: 5px 5px 15px 5px;
}

.input:focus::placeholder {
  color: transparent;
}

.input:focus {
  color: #403866;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 6rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-size: 1.2rem;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all 0.8s;
  border: none;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  font-size: 1.4rem;
  background-color: #ebf1f5;
  box-shadow: 5px 5px 15px 5px;
}

@media (min-width: 560px) {
  .form {
    height: 60%;
  }
  .buttonsContainer {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .form {
    width: 70%;
    height: inherit;
    justify-content: space-evenly;
  }
  .formTitle {
    margin: 1rem;
    font-size: 2rem;
    line-height: 1.2;
  }
  .input {
    height: 40px;
    margin: 2rem 0;
    width: 80%;
  }

  .button {
    width: 180px;
    height: 62px;
  }
}
